{% extends 'base.html' %}
{% block title %}Events{% endblock %} 
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Welcome to our Volunteer Events!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="/images/bbq.jpeg" class="card-img-top" alt="Event 1">
          <div class="card-body">
            <h5 class="card-title">Event 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum viverra turpis euismod urna rhoncus ultricies.</p>
            <a href="#" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/images/bbq.jpeg" class="card-img-top" alt="Event 2">
          <div class="card-body">
            <h5 class="card-title">Event 2</h5>
            <p class="card-text">Pellentesque consectetur, ipsum vel lobortis malesuada, nisi neque faucibus velit, non scelerisque urna felis eget metus.</p>
            <a href="#" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/images/bbq.jpeg" class="card-img-top" alt="Event 3">
          <div class="card-body">
            <h5 class="card-title">Event 3</h5>
            <p class="card-text">Sed euismod lacinia lectus, non bibendum est malesuada eu. Morbi nec mauris ut augue consectetur euismod.</p>
            <a href="#" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="/images/bbq.jpeg" class="card-img-top" alt="Event 4">
          <div class="card-body">
            <h5 class="card-title">Event 4</h5>
            <p class="card-text">Integer nec enim vitae eros fermentum malesuada. Vivamus euismod lacus id nisl congue, quis faucibus est vulputate.</p>
            <a href="#" class="btn btn-primary">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="/images/bbq.jpeg" class="card-img-top" alt="Event 5">
          <div class="card-body">
            <h5 class="card-title">Event 5</h5>
            <p class="card-text">Vivamus vulputate, sapien vel lobortis hendrerit, nisi velit lobortis nisi, id consectetur nunc elit in quam.</p>
            <a href="#" class="btn btn-primary">Sign Up</a>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="/images/bbq.jpeg" class="card-img-top" alt="Event 6">
              <div class="card-body">
                <h5 class="card-title">Event 6</h5>
                <p class="card-text">Donec vitae urna libero. Sed vehicula nibh ac ex bibendum aliquam. Maecenas maximus tortor dolor, vitae vestibulum nulla vestibulum vel.</p>
                <a href="#" class="btn btn-primary">Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">1234</div>
    {% endblock %}
